<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="log.path" value="logs/" />
    <appender name="logbackAll" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}//all.log</File>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>5</maxHistory>
            <fileNamePattern>${log.path}//all.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{56}.%method:%L -%msg%n</pattern>
        </layout>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%highlight(%level)] [%boldMagenta(%thread)] [%cyan(%file) : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="member" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="logbackAll"/>
    </logger>

    <logger name="smcvAuthSdk" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="logbackAll"/>
    </logger>

    <!-- kafka 日志关闭 -->
    <logger name="org.apache.kafka" level="OFF"/>
    <logger name="io.netty" level="OFF" />

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="logbackAll"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="logbackAll"/>
    </root>

</configuration>