<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.message.game.dao.TtUserMapper">
  <resultMap id="BaseResultMap" type="com.message.game.model.po.TtUser">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="OPENID" jdbcType="VARCHAR" property="openid" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_MOBILE" jdbcType="VARCHAR" property="userMobile" />
    <result column="USER_TIME" jdbcType="BIGINT" property="userTime" />
    <result column="USER_IMAGE" jdbcType="VARCHAR" property="userImage" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="IS_DEL" jdbcType="INTEGER" property="isDel" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UUID, OPENID, USER_NAME, USER_MOBILE, USER_TIME, USER_IMAGE, SEX, IS_DEL, CREATE_DATE, 
    UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tt_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.message.game.model.po.TtUser">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tt_user (ID, UUID, OPENID, 
      USER_NAME, USER_MOBILE, USER_TIME, 
      USER_IMAGE, SEX, IS_DEL, 
      CREATE_DATE, UPDATE_DATE)
    values (#{id,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{userTime,jdbcType=BIGINT}, 
      #{userImage,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.message.game.model.po.TtUser">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tt_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="uuid != null">
        UUID,
      </if>
      <if test="openid != null">
        OPENID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userMobile != null">
        USER_MOBILE,
      </if>
      <if test="userTime != null">
        USER_TIME,
      </if>
      <if test="userImage != null">
        USER_IMAGE,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null">
        #{userTime,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.message.game.model.po.TtUser">
    update tt_user
    <set>
      <if test="uuid != null">
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null">
        USER_TIME = #{userTime,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        USER_IMAGE = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.message.game.model.po.TtUser">
    update tt_user
    set UUID = #{uuid,jdbcType=VARCHAR},
      OPENID = #{openid,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      USER_TIME = #{userTime,jdbcType=BIGINT},
      USER_IMAGE = #{userImage,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      IS_DEL = #{isDel,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryUserInfoByUuid" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List" />
      FROM `tt_user` a
      WHERE a.`IS_DEL`=0
      <if test="uuid!=null">
        AND a.`UUID`=#{uuid}
      </if>
      LIMIT 1;
  </select>

  <select id="queryUserInfoByOpenId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM `tt_user` a
    WHERE a.`IS_DEL`=0
    <if test="openid!=null">
      AND a.`OPENID`=#{openid}
    </if>
    LIMIT 1;
  </select>

  <select id="queryUserCount" resultType="Integer">
    SELECT COUNT(1) FROM `tt_user` a WHERE a.`IS_DEL`=0
  </select>

  <select id="queryUserList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM `tt_user` a
    WHERE a.`IS_DEL`=0
    ORDER BY a.`USER_TIME` DESC
  </select>
</mapper>